<button (click)="toAdd()">Ajouter un article</button>
<h1>Les articles présents</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Titre</th>
            <th scope="col">Contenu</th>
            <th scope="col">Image</th>
            <th scope="col">Category</th>
            <th scope="col">To Edit</th>
            <th scope="col">To Delete</th>
        </tr>
    </thead>
    <tbody *ngFor="let article of articles">
        <tr>
            <th scope="row"> {{article.id}} </th>
            <td> {{article.titre}} </td>
            <td> {{article.contenu}} </td>
            <td> {{article.image}} </td>
            <td> {{article.category}} </td>
            <td> <a [routerLink]="['/admin/article/edit', article.id]"> <i class="material-icons text-success"> edit </i> </a> </td>
            <td> <a (click)="deleteArticle(article)" class="btn"> <i class="material-icons text-danger"> delete </i> </a> </td>
        </tr>
    </tbody>
</table>